<div id="<%= dom_id question %>">
  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= question.survey_id %>
  </p>

</div>
